body {
    height: 100%;    
    margin: 0px;
    overflow: auto;
    overflow-x: hidden;
}

a:link, a:visited {
  text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-family: Georgia;
    font-size: 12.5px;
    color: #0080c3;
}

a:hover, a:active {
}


div.scroll {
    width: 80%;
    height: 3700px;
    text-align: center;
    padding: 20px;
    position: relative;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

}

div.comment {
    width: 65%;
    text-align: center;
    margin: auto;
}
table {
  font-family: Georgia;
    font-size:12px;
  border-collapse: collapse;
    max-width: 1024px;
  width: 70%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



.circle:hover{
    fill: none;
    opacity: 1;
    stroke:black;
    stroke-width: 2;
}

.hover-text{
    font-family: georgia;
    font-size: 2em;
    fill:black;
}

.tick text {
  font-size: 1em;
}


.axis-label {
  font-size: 2em;
  fill: #8E8883;
}

.title {
  font-size: 1.5em;
    font-family: georgia, "times new roman", times, serif;
  fill: black;
}

.line-path {
  fill: none;
  
  stroke-linejoin: round;
  stroke-linecap: round;
  mix-blend-mode: multiply;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 3px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

#play-button {
  position: absolute;
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}

#play-button:hover {
    background-color: #696969;
}    

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}




.bubbles {
  stroke-width: 1px;
  stroke: black;
  opacity: .8;
}
.bubbles:hover {
  stroke: black;
}

div.tooltipB {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 3px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
/*
.label {
  fill: #777;
}
*/
.year.label {
  font: 500 86px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

#selectButton {
    position: absolute;
    top: 277.5px;
    left: 217px;
}

#selectButton2 {
    position: absolute;
    top: 995.5px;
    left: 217px;
}

#fast-button {  
    position: absolute;
    cursor: pointer;
}
/*
#faster-button:hover {
    background-color: #696969;
}    
*/
#slow-button {
  position: absolute;
  cursor: pointer;
}
/*
#slower-button:hover {
    background-color: #696969;
}    

*/